/*
TODO: Needs better refactoring for these dist overides. Need to look at other resources that may be broken and fix. (in the
instances where font sare being pulled from a node_modules folder as part of the packaged SASS libraries. But this works well for now.)
*/

/* fonts - overide for CSS Dist */
@font-face {
  font-family: 'serifabt';
  src: url('#{$theme-font-path}serifabt.eot');
  src: url('#{$theme-font-path}serifabt.eot?#iefix') format('embedded-opentype'),
       url('#{$theme-font-path}serifabt.woff') format('woff'),
       url('#{$theme-font-path}serifabt.ttf') format('truetype'),
       url('#{$theme-font-path}serifabt.svg#serifabt') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* icons - overide for CSS Dist */
@font-face {
	font-family: 'icomoon';
	src:
		url('#{$theme-font-path}icomoon.eot?-nslsii');
	src:
		url('#{$theme-font-path}icomoon.eot?#iefix-nslsii') format('embedded-opentype'),
		url('#{$theme-font-path}icomoon.woff2?-nslsii') format('woff2'),
		url('#{$theme-font-path}icomoon.ttf?-nslsii') format('truetype'),
		url('#{$theme-font-path}icomoon.woff?-nslsii') format('woff'),
		url('#{$theme-font-path}icomoon.svg?-nslsii#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
